.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-button {
  color: #61dafb;
  background-color: #282c34;
  box-shadow: #61dafb 0px 0px 10px 1px;
  cursor: pointer;
}
.App-button:hover {
  color: #fb6161;
  background-color: #342828;
  box-shadow: #fb6161 0px 0px 10px 1px;
}
#App-date{
  margin-bottom: 2em;
  background-color: #282c34;
  color: white;
  border: 2px white solid;
  padding: .3em;
  border-radius: 0;
}